{:paths          ["src"]
 :mvn/local-repo ".m2"
 
 :deps    {org.clojure/clojure                 {:mvn/version "1.11.1"}
           org.clojure/java.jdbc               {:mvn/version "0.7.12"}
           integrant/integrant                 {:mvn/version "0.8.0"}
           ring/ring                           {:mvn/version "1.10.0"}
           ring-cors/ring-cors                 {:mvn/version "0.1.13"}
           metosin/reitit                      {:mvn/version "0.7.0-alpha3"}
           org.postgresql/postgresql           {:mvn/version "42.6.0"}
           clojure.java-time/clojure.java-time {:mvn/version "1.2.0"}}
 
 :aliases {:dev  {:extra-paths ["env/dev" "dev"]
                  :extra-deps  {integrant/repl {:mvn/version "0.3.2"}}}

           :prod {:extra-paths ["env/prod"]}

           :test {:extra-paths ["test"]
                  :extra-deps  {integrant/repl {:mvn/version "0.3.2"}
                                com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                           :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts   ["-m" "cognitect.test-runner"]}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}
                   :ns-default build}}}