name: Clojure CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install clojure cli
        uses: DeLaGuardo/setup-clojure@11.0
        with: 
         cli: 1.10.1.693
      - name: Cache clojure dependencies
        uses: actions/cache@v3
        with:
         path: |
            ~/.m2
         key: cljdeps-${{ hashFiles('deps.edn') }}
         restore-keys: cljdeps-
      - name: start db container
        uses: isbang/compose-action@v1.4.1
        with:
         compose-file: "./omniward.yaml"
         down-flags: "--volumes"
         services: |
           db
      - name: Execute clojure code
        run: clojure -M:test
